<?xml version="1.0"?>
<UserConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Version>2</Version>
  <FormStates>
    <FormState>
      <Name>FDesktop</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <Maximized>true</Maximized>
    </FormState>
    <FormState>
      <Name>FProfiles</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>FEditProfile</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>FAdvancedScanSettings</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>FOcrLanguageDownload</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>FDownloadProgress</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>FOcrSetup</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>FAutoSaveSettings</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>FPlaceholders</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>FProgress</Name>
      <Location>
        <X>736</X>
        <Y>455</Y>
      </Location>
      <Size>
        <Width>447</Width>
        <Height>140</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>FCrop</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>600</Width>
        <Height>600</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>FBatchScan</Name>
      <Location>
        <X>491</X>
        <Y>359</Y>
      </Location>
      <Size>
        <Width>416</Width>
        <Height>331</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>FBatchPrompt</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>FError</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>FViewer</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <Maximized>true</Maximized>
    </FormState>
    <FormState>
      <Name>FBrightnessContrast</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>600</Width>
        <Height>600</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>FBlackWhite</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>600</Width>
        <Height>600</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>FSharpen</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>600</Width>
        <Height>600</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>FImageSettings</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>FRotate</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>600</Width>
        <Height>600</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
  </FormStates>
  <BackgroundOperations>
    <string>SavePdfOperation</string>
    <string>WiaScanOperation</string>
  </BackgroundOperations>
  <CheckForUpdates>false</CheckForUpdates>
  <LastUpdateCheckDate xsi:nil="true" />
  <FirstRunDate>2021-03-13T02:06:37.2121552+05:30</FirstRunDate>
  <LastDonatePromptDate xsi:nil="true" />
  <EnableOcr>false</EnableOcr>
  <OcrLanguageCode>eng</OcrLanguageCode>
  <OcrMode>Fast</OcrMode>
  <OcrAfterScanning>true</OcrAfterScanning>
  <LastImageExt>jpg</LastImageExt>
  <ThumbnailSize>128</ThumbnailSize>
  <LastBatchSettings>
    <ProfileDisplayName>HP LJ M125126 Scan Drv</ProfileDisplayName>
    <ScanType>MultipleWithPrompt</ScanType>
    <ScanCount>0</ScanCount>
    <ScanIntervalSeconds>0</ScanIntervalSeconds>
    <OutputType>Load</OutputType>
    <SaveSeparator>FilePerPage</SaveSeparator>
    <SavePath />
  </LastBatchSettings>
  <DesktopToolStripDock>Top</DesktopToolStripDock>
  <CustomPageSizePresets />
  <SavedProxies />
</UserConfig>